#links{
    float: right;
}
#h2_index {
    float: left;
}
#profile_pic {
    height: 150px;
    width: 200px;
    padding: 20px;
    float: left;
    clear: left;

}
  #portfolio_images {
    float: left;
    width: 33.33%; 
    padding: 5px;

  }
  .clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }
 .port_links {
     position: relative;
     background-color: #4aaaa5;
     font-family:'Georgia', Times, 'Times New Roman', serif;
     color: #eeeeee;
     width: 200px;
    height: 60px;
    text-align: center;
 }